body {background-color: #fcebb6;
  background-image: url("background.gif");
  background-repeat: repeat-no;
  color: #221822;
  font-family: Verdana, Arial, sans-serif;
}
h1 { background-color: #D2B48C; 
color: #000000; 
line-height: 200%;
font-family:  Verdana, Arial, sans-serif ;
text-indent: 1em;
height: 150px;
padding-top: 45px;
padding-left: 220px;
font-size: 3em;
background-image: url("logo\ 4.jpg");
background-repeat: no-repeat;}
h2 { background-color: #fcebb6;
color: #000000;
font-family:  Verdana, Arial, sans-serif;
font-weight: bold;}
nav { font-weight: bold;
  text-align: center;
 font-size: 1.5em;
word-spacing: 0em;
padding-top: 10px; }
nav a { text-decoration: none; }
p { font-size: .90em;
text-indent: 3em;
text-align:start; }
footer { background-color:#D2B48C ;
    color: #000000;
    font-size: .60em;
    font-style: italic;
  text-align: center; 
padding-bottom: 10px;
border-top: 2px #221811;}
h4  {background-color: #D2B48C;
font-size: 1.2em;
padding-left: 0.5em;
padding-bottom: 0.25em;}
main  {padding-left: 2em;
padding-right: 2em;
padding-bottom: 2em;
display: block;}
details   {padding-left: 20%;
padding-right: 20%;}
img  {padding-left: 10px;
padding-right: 10px;}
#wrapper { margin-left: auto;
   background-color:#FEF6C2 ;
  min-width: 900px;
  max-width: 1280px;
  box-shadow: inset;
      margin-right: auto;
      width: 80%; }