body { background-color: #fcebb6;
  color: #221811;
  font-family: Verdana, Arial, sans-serif ;}
h1 { background-color: #D2B48C; 
color: #000000; 
line-height: 200%;
font-family:  Verdana, Arial, sans-serif ;
text-indent: 1em;
text-align: center; }
h2 { background-color: #fcebb6; 
color: #000000;
font-family:  Verdana, Arial, sans-serif;
font-weight: bold;}
nav { font-weight: bold;
  text-align: center;
 font-size: 1em;
word-spacing: 0em; }
nav a { text-decoration: none; }
p { font-size: .90em;
text-indent: 3em;
text-align:start; }
footer { background-color:#D2B48C ;
    color: #000000;
    font-size: .60em;
    font-style: italic;
  text-align: center; }
#wrapper { margin-left: auto;
      margin-right: auto;
      width: 80%; }